version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456root   # 设置 root 用户密码
      MYSQL_DATABASE: mydb              # 初始化数据库
      MYSQL_USER: test_user             # 创建用户
      MYSQL_PASSWORD: 123456test        # 用户密码
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
    networks:
      - mysql_network

networks:
  mysql_network:
    driver: bridge
